<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MMEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <MMEdit.Properties.Settings>
            <setting name="AutoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HistoryMaxCount" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="MainForm_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainForm_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="StartPage" serializeAs="String">
                <value>7925bc6c-6059-43eb-8052-af0ccfc3c970</value>
            </setting>
        </MMEdit.Properties.Settings>
    </userSettings>
</configuration>